<div>
  <div>
    <a href="/index.js"
      ><image src="/images/travelCoordinatorLogoComplex.png"></image
    ></a>
  </div>
  <div>
    <h1>Travel Coordinator</h1>
  </div>
  <div>
    <select>
      <option value="/index.js"><a href="/index.js">Home</a></option>
      <option><a href="/hotel-search/index.html">Hotels</a></option>
      <option><a href="/flights/index.html">Flights</a></option>
      <option><a href="/destination/index.html">Destinations</a></option>
    </select>
  </div>
</div>
